#popup-content {
  max-height: 200px;
  overflow: scroll;
}
#popup-content th {
  text-align: left;
  width: 125px;
}

.arrow_box {
    position: relative;
    background: lightgray;
    border: 1px solid #003c88;
}

#districtName, #titleTop {
  text-align: center;
}

#searchButton {
  display: block;
  margin-left: auto;
  margin-right: auto
}
